<% @trips.each do |trip| %>
<h3> <%= trip.name %> </h3>
<h6> Price per day: €<%= trip.price %> </h6>
<%= link_to 'View trip details', trip_path(trip) %>
<% end %>
<br>
<br>
<%= link_to 'Back', root_path %>
