// Specific CSS for your home-page
*{
  overflow-x: 0;
}

.banner {
  background:url(https://res.cloudinary.com/depkh8amy/image/upload/v1669132056/HOME-BG-LANDSCAPE_tomxmg.png)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 810px;
}
