// Specific CSS for your home-page

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: 0;
  overflow-y: 0;
}

.body {
  background-color: #e77d11;
}

.home-background {
  background: url("https://res.cloudinary.com/depkh8amy/image/upload/v1669204699/ss_898bdeefe8e13fd984d6a51648d9277a1b5cfe35.1920x1080_zpgm2n.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 140px;
}

.home-logo {
  background-image: url(https://res.cloudinary.com/depkh8amy/image/upload/v1669301738/Logo_2_f3st9b.png);
  height: 600px;
  width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: sticky;
}
