<footer class="footer" style="margin-top: 40px">
  <div class="footer__addr">
    <%# <h1 class="footer__logo">Move2Mars</h1> %>
    <img src="https://res.cloudinary.com/depkh8amy/image/upload/v1669301738/Logo_2_f3st9b.png" alt="" id="footerlg">
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Facebook</a>
        </li>

        <li>
          <a href="#">Linkedin</a>
        </li>

        <li>
          <a href="#">Github</a>
        </li>
      </ul>
    </li>

    <%# <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>
      </ul>
    </li> %>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2054 M2M. All rights reserved.</p>

  </div>
</footer>
