<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# // SEE ALL AVAILABLE TRIPS %>
    <%= link_to "See available trips", trips_path %>
<%# // OFFER A TRIP %>
    <%= link_to "Offer a trip", new_trip_path %>
<%# // SEE MY BOOKINGS %>
    <%= link_to "View my bookings", bookings_path %>
<%# // SEE MY TRIPS/BOOKING REQUESTS %>
    <%= link_to "See booking requests for my trips", host_bookings_path%>
