<div class = "home-background">
  <div class ="logo-wrapper">
    <div class = "home-logo">
      <div class ="trips-button-container">
          <%= link_to "", trips_path, class:"button"%>
      </div>
    </div>
  </div>
  <%= render "shared/image" %>
</div>
