<div class = "home-background">
  <div class = "home-logo">
    <div class ="trips-button-container">
        <%= link_to "", trips_path, class:"button"%>
    </div>
  </div>
  <%= render "shared/image" %>
</div>
