.trip-card {
  padding: 0;
  display:flex;
  flex-direction: column;
  background-color: #f0e7e7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px !important;
  height: 85vh;
  margin: 30px auto;
  max-width: 900px;

  .d-block{
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .trip-images {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));

    p {
      font-size: 32px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      margin-top: 25px;
      color: white;
    }
  }

  ol, ul {
    padding-left: 0;
  }

    // Extra large devices (large desktops, 1200px and up)
  @media (max-height: 2000px) {
    .trip-images {
      height: 600px;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (max-height: 1000px) {
    .trip-images {
      height: 500px;
    }
  }

  @media (max-height: 700px) {
    .trip-images {
      height: 300px;
    }
  }
}
